body {
   font-size: 16px;
   background-color: black;
}	

div {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

a {
	color: blue;
}

a:visited {
	color: purple;
}

#backgrounds{
	position: fixed;
	top: 0vw;
	left: 0vw;
	background-color: white;
}

/*Images will be "stacked" over one another.*/
#backgrounds img{
	background-size: cover;
	width: 100%;
	height: auto;
}

/*Image 1 will be the first background displayed*/
#bg1 {
	z-index: -1;
}

#bg2, #bg3, #bg4 {
	z-index: -2;
}

/*This is where information is displayed ot the user*/

/*Where information is displayed.*/
#infoSections {
	padding: 1em;
	text-align: left;
	position: relative; /**/
	top: 2em;
	left: 65em;
	height: 30em;
	width: 50em;
	color: white;
	background-color: #161728;
}
/*---------------------------*/
#homeSection, #linkSection, #eduSection, #expSection {
/*	visibility: hidden;
	position: absolute;*/
	position: absolute;
}

/*My home section*/
#homeSection {
	font-size: 1em;
	z-index: 1;
}

/*Part of homeSection*/
#welcomeBanner {
	font-weight: bold;
    text-align: center;
    font-size: 1.6em;
}

#contactInfo {
	text-align: center;
	font-size: 1.1em;
}
/*Part of homeSection*/
#whoAmI, #currentOccupation {
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
}

/*------------------------------*/

#linkSection, #eduSection, #expSection {
/*	visibility: hidden;
	position: absolute;*/
	z-index: 0;
}

/*Clickable tabs to change which information element is displayed*/

#clickableTabs {
	padding: 0.5em;
	text-align: center;
	position: relative;
	top: 2em;
	left: 65em;
	width: 51em;
	background-color: #373A67;
}

#homeTab, #linkTab, #eduTab, #expTab {
	padding: 0.2em;
	cursor: pointer;
	font-size: 1.5em;
	text-shadow: none;
}
