body {
   background-color: black;
   background-size: 100%;
}	

div {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

a {
	color: blue;
}

a:visited {
	color: purple;
}

#backgrounds{
	position: fixed;
	top: 0vw;
	left: 0vw;
}

/*Images will be "stacked" over one another.*/
#backgrounds img{
	position: fixed;
	width: 50vw;
	height: 50vw;
}

/*Image 1 will be the first background displayed*/
#bg1 {
	z-index: -1;
}

#bg2 {
	z-index: -2;
}

#bg3 {
	z-index: -3;
}

#bg4 {
	z-index: -4;
}

/*This is where information is displayed ot the user*/

/*Where information is displayed.*/
#infoSections {
	overflow: auto;;
	padding: 1em;
	text-align: left;
	position: fixed; /**/
	top: 0vw;
	left: 50vw;
	height: 33.4vw;
	max-width: 49vw;
	min-width: 49vw;
	color: white;
	background-color: #161728;;
}
/*---------------------------*/
/*#homeSection, #linkSection, #eduSection, #expSection {
	visibility: hidden;
	position: absolute;
	positio absolute;
}*/

/*My home section*/
#homeSection {
	position: sticky;
	font-size: 1em;
	z-index: 4;
}

/*Part of homeSection*/
#welcomeBanner {
	font-weight: bold;
    text-align: center;
    font-size: 1.6em;
}

#contactInfo {
	text-align: center;
	font-size: 1.1em;
}
/*Part of homeSection*/
#whoAmI, #currentOccupation {
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
}

/*------------------------------*/

#linkSection
{
	position: absolute;
/*	visibility: hidden;
	position: absolute;*/
	z-index: 3;
}

#eduSection 
{
	position: absolute;
	z-index: 2;
}

#expSection 
{
	position: absolute;
	z-index: 1;
}

/*Clickable tabs to change which information element is displayed*/

#clickableTabs {
	overflow: auto;
	padding: 1em;
	text-align: center;
	position: fixed; /**/
	top: 35vw;
	left: 50vw;
	max-height: 12.2vw;
	min-height: 12.2vw;
	max-width: 50vw;
	min-width: 50vw;
	background-color: #373A67;
}

#homeTab, #linkTab, #eduTab, #expTab {
	text-align: center;
	padding: 0.3em;
	cursor: pointer;
	font-size: 2em;
	text-shadow: none;
}

